@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --color-sub: theme(colors.sub);
  }

  html,
  body {
    height: 100%;
    background-color: var(--color-sub);
  }
}
